<div class="container align-content-center home"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- todo ако може да се взема от някакви настройки -->
    <h1>Добави фирма</h1>
    <div class="alert alert-danger" th:text="${message}" th:if="${message}" style="white-space: pre-line;"></div>
    <form th:action="@{/company/add}" th:method="POST"
          th:object="${addCompanyDto}">
        <div class="row row-view">
            <div class="col-lg-6 elements">
                <div class="form-group">
                    <label for="name">Име на фирмата</label>
                    <input th:field="*{name}" class="form-control" type="text" id="name" name="name">
                    <div class="error-message" th:if="${#fields.hasErrors('name')}">
                        <span th:text="${#fields.errors('name').get(0)}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="uic">ЕИК</label>
                    <input th:field="*{uic}" class="form-control" type="number" id="uic" name="uic" value="">
                    <div class="error-message" th:if="${#fields.hasErrors('uic')}">
                        <span th:text="${#fields.errors('uic').get(0)}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="vatNumber">ДДС номер</label>
                    <input th:field="*{vatNumber}" class="form-control" type="text" id="vatNumber" name="vatNumber">
                    <div class="error-message" th:if="${#fields.hasErrors('vatNumber')}">
                        <span th:text="${#fields.errors('vatNumber').get(0)}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">Адрес</label>
                    <input th:field="*{address}" class="form-control" type="text" id="address" name="address">
                    <div class="error-message" th:if="${#fields.hasErrors('address')}">
                        <span th:text="${#fields.errors('address').get(0)}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="accountablePerson">МОЛ</label>
                    <input th:field="*{accountablePerson}" class="form-control" type="text" id="accountablePerson"
                           name="accountablePerson">
                    <div class="error-message" th:if="${#fields.hasErrors('accountablePerson')}">
                        <span th:text="${#fields.errors('accountablePerson').get(0)}"></span>
                    </div>
                </div>
                <div class="form-group gray-background">
                    <label for="client">Клиент</label>
<!--                    <input th:field="*{client}"  class="form-control" type="hidden" id="client"-->
<!--                           name="client">-->
                    <select th:field="*{clientId}" class="d-none form-select select2" id="client" name="clientId"
                            onblur="selectSearch()" >
                        <option value="">Избери</option>
                        <option th:if="${clients.empty}" disabled th:value="null">Няма налични клиенти</option>
                        <option th:each="client : ${clients}"
                                th:text="${client.firstName} + ' - ' + ${client.phone} "
                                th:value="${client.id}"></option>
                    </select>
                    <div class="error-message" th:if="${#fields.hasErrors('clientId')}">
                        <span th:text="${#fields.errors('clientId').get(0)}"></span>
                    </div>
                </div>
                <button class="submit" type="submit">Запиши</button>
            </div>

        </div>

    </form>

</div>
</div>






