<div class="container align-content-center home" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- todo ако може да се взема от някакви настройки -->
    <h1>Добави потребител</h1>
    <div th:if="${error}" class="alert alert-danger"><span th:text="${error}" style="white-space: pre-line;"></span></div>

    <form  th:action="@{/user/add}" th:method="post"  th:object="${addUserDto}">

        <div class="row row-view">
            <div class="col-lg-6 elements">
                <div class="group">
                    <label for="firstName">Име:</label>
                    <input th:field="*{firstName}" class="form-control" type="text" id="firstName" name="firstName"
                           required>
                    <div class="error-message" th:if="${#fields.hasErrors('firstName')}">
                        <span th:text="${#fields.errors('firstName').get(0)}"></span>
                    </div>
                </div>
                <div class="group">
                    <label for="lastName">Фамилия:</label>
                    <input th:field="*{lastName}" class="form-control" type="text" id="lastName" name="lastName"
                           required>
                    <div class="error-message" th:if="${#fields.hasErrors('lastName')}">
                        <span th:text="${#fields.errors('lastName').get(0)}"></span>
                    </div>
                </div>

                <div class="group">
                    <label for="username">Username:</label>
                    <input th:field="*{username}" class="form-control" type="text" id="username" name="username"
                           required>
                    <div class="error-message" th:if="${#fields.hasErrors('username')}">
                        <span th:text="${#fields.errors('username').get(0)}"></span>
                    </div>
                </div>
                <div class="group">
                    <label for="email">Email:</label>
                    <input th:field="*{email}" class="form-control" type="email" id="email" name="email" required>
                    <div class="error-message" th:if="${#fields.hasErrors('email')}">
                        <span th:text="${#fields.errors('email').get(0)}"></span>
                    </div>
                </div>
                <div class="group">
                    <label for="password">Парола:</label>
                    <input th:field="*{password}" class="form-control" type="password" id="password" name="password"
                           required>
                    <div class="error-message" th:if="${#fields.hasErrors('password')}">
                        <span th:text="${#fields.errors('password').get(0)}"></span>
                    </div>
                </div>
                <div class="group">
                    <label for="role" id="label-role">Роля</label>
                    <select th:field="*{role}" id="role" name="role">
                        <option value="" selected>Избери</option>
                        <option id="admin" name="admin" value="admin">Администратор</option>
                        <option id="editor" name="editor" value="editor">Редактор</option>
                    </select>
                    <div class="error-message" th:if="${#fields.hasErrors('role')}">
                        <span th:text="${#fields.errors('role').get(0)}"></span>
                    </div>
                </div>
            </div>
        </div>
        <button class="submit"  type="submit" value="Изпрати">Запиши</button>
    </form>
</div>
