<div xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" class="home-login"
     sec:authorize="!isAuthenticated()">


<h2>Добре дошли в ДОРЕЛА СОФТ!</h2>
<p>За да продължите, моля, логнете се!</p>
<a th:href="@{/login}" >Login</a>

</div>

<div xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" class="home-logged"
     sec:authorize="isAuthenticated()">


    <a href="#" >Добави Ремонт</a>
    <a href="#" >Добави Услуга</a>
    <a href="#" >Добави Клиент</a>
    <a href="#" >Добави Фирма</a>

</div>