<th:block th:fragment xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
  <ul class="navbar">

    <li class="nav-item"><a class="nav-link" th:href="@{/}">Начало</a></li>
    <li class="nav-item"  sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/users}">Потребители</a></li>
    <li class="nav-item"  sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/add-user}">Добави потребител</a></li>
    <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link" th:href="@{/login}">Login</a></li>
    <li class="nav-item"  sec:authorize="isAuthenticated()">
      <form th:action="@{/logout}" th:method="POST"><input  type="submit" value="Logout" class="nav-link"/></form>
    </li>


  </ul>
</th:block>