<div class="container align-content-center home" xmlns:th="http://www.w3.org/1999/xhtml">
	<h1>Редактиран на част</h1>
	<div class="elements">

		<form th:action="@{/part/edit/{id}(id=${partDto.id})}" th:method="post" th:object="${partDto}">


			<div >
				<h2 class="subheading">Редакция част</h2>
				<div class="div-group">
					<div class="form-group ">

						<label for="name">Име*</label>
						<input th:field="*{name}" class="form-control" type="text" id="name"
							   required>
						<div class="error-message" th:if="${#fields.hasErrors('name')}">
							<span th:text="${#fields.errors('name').get(0)}"></span>
						</div>
					</div>


					<div class="form-group">
						<label for="price">Цена</label>
						<input  th:field="*{price}"  th:value="${#numbers.formatDecimal(price, 1, 4)}" class="form-control" type="number" id="price">
					</div>


					<div class="form-group">
						<button type="submit">Запази</button>
					</div>
				</div>
			</div>

		</form>


	</div>
</div>