html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.red-navbar {
    background-color:#D71F2B !important;
}

ul.navbar{
    list-style: none;
    padding: 10px;
    display: flex;
    gap: 20px;
    color: white;
    font-weight: 600;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a.nav-link:hover {
    color: #ffffffc9;
    transition: 0.5s;
}
.content {
    width: 100%;
}
.login-container {
    max-width: 450px;
    display: block;
    margin: 0 auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
}

form.logout{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 120px;
    gap:5px;

}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(251 37 20 / 9%) !important;
}


.login-form button{
    min-width: 160px;
    margin: 0 auto;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background: #D71F2B;
    color: #fff;
    font-weight: 500;
}



.error-message {
    font-size: 18px;
    font-weight:600;
    color: #D71F2B;
    margin-bottom: 5px;
}


.error-status img {
    min-width: 900px;
}

.success {
    color: white;
    background: #8fbd8f;
    max-width: 650px;
    padding: 15px;
    margin: 20px 0;
    border-radius: 4px;
}
.group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 15px 0 0 0;
}

select#role {
    padding: 9px 12px;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
}

.user-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
}
thead.thead-light td {

    font-weight: 700;
}
.user {
    border-right: 1px solid #cccc;
    padding: 10px;
    /* margin: 0 auto; */
}

button {
    padding: 5px 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: white;
    background-color: #d42d2f;

}

.add-user-btn {
    display: block;
    text-align: right;
    padding: 20px 0;
}

.add-user-btn a {
    color: white;
    background: #d42d2f;
    padding: 11px 15px;
    text-decoration: none;
    border-radius: 10px;
}
.add-user-btn a:hover {
    background-color: #d42d2fba;
    transition: 0.5s;
    color: white;
}

button.user-btn {
    border-radius: 55px ;
    padding: 5px 10px;
    border: 1px solid #ccc;
    display: block;

    color: white;
}

.user-edit-btn{
    background-color: #3C887E;
}

.user-edit-btn:hover {
    background-color: #5B7B7A;
    transition: 0.5s;
}

.user-delete-btn {
    background-color: #dc3545;

}

.user-delete-btn:hover {
    background-color: #dc3545bd;
    transition: 0.5s;
}
/* home */

.home-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
    align-items: center;
}

.home-login a {
    color: #fff;
    padding: 10px 37px;
    background-color: #d42d2f;
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition:0.2s;
}
.home-login a:hover {
    color: white;
    background: #d42d2fba;
}


.home-logged {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.short-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1440px;
    justify-content: center;
}

.home-logged a {
    color: #fff;
    padding: 40px 50px;
    background-color: #2D728F;
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: 0.2s;
    min-width: 300px;
    text-align: center;
}
.home-logged a:hover {
    opacity:0.9;
}

/* Dropdown for makes and models*/

ul.dropdown-menu {
    display: block;
    overflow-y: scroll;
    max-height: 300px;
    width: 100%;
    z-index: 1000;
    border-radius: 0;
    border: 1px solid #e7e7e7;
    position: relative;
    top: -10px;
    border-top: 0px;
}

.dropdown-menu li {
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}

.dropdown-menu li:hover {

    background-color: #e7e7e7;
}


/* edit car */
.car-make-model {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 0;
    align-items: center;
}

.btn-change {
    display: block;
    text-align: right;
    font-size: 12px;
    width: 100%;
}

span.change-span {
    background: #d42d2f;
    padding: 5px 8px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

span.span-info {
    font-weight: 600;
    color: #d42d2f;
    border-bottom: 1px solid;
    padding: 0 5px;

}

.gray-background{
    background: #E8E9ED;
    padding: 24px 20px;
    margin: 10px 0;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* clients */

h2.subheading {
    background: #E8E9ED;
    padding: 10px 5px;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 15px;
}

label.header-label {
    font-weight: 800;
    color: #d42d2f;
    padding: 0 0 10px;
}

select#car {
    min-width: 70px;
    padding: 0 20px;
    height: 40px;
}

.dynamic-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background: #e8e9ed59;
    padding: 15px 10px;
    max-width: 70%;
}


.submit {
    margin: 20px 0;
    padding: 10px 40px;
    width: 200px;
    border-radius: 5px;
    border: none;
}

.submit:hover {
    margin: 20px 0;
    padding: 10px 40px;
    width: 200px;
    border-radius: 5px;
    border: none;
    background: #d42d2fba;
    transition: 0.2s;
}


.form-check-input:checked {
    background-color: #d13733 ;
    border-color: #d13733 ;
}
.form-check-input:focus {
    border-color: #d42d2f80;
    box-shadow: 0 0 0 .25rem #d42d2f2b;
}

.form-switch .form-check-input:focus {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}


dvi.alert.alert-danger {
    display: block;
    width: fit-content;
}

.error-status h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}
.error-status {
    padding: 20px 40px;
}

.error-status img {
    max-width: 500px;
    margin: 0 auto;
    display: block;
}

.error-status p {
    text-align: center;
}

.error-message {
    font-size: 12px;

}

/*order*/

.order{

    max-width: 100%;
    padding: 20px 50px;

}

div#order {
    margin-top: 20px;
}
.col-lg-6.elements-add-repair {
    background-color: #e9e9e9;
    padding: 15px 20px;
    border-radius: 15px;
}

.choose-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 33%;
    min-height: 120px;
    justify-content: flex-start;
}

.app-select-form {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.row.row-view {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}

.order h4 , .order h3 {
    background: #1d244a;
    color: white;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.note {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 8px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    bottom: 60%;
    left: 12%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}


td i:hover + .note {
    visibility: visible;
    opacity: 1;
}

.table-data {
    min-height: 230px;
    background: white;
}

button.add-btn {
    display: block;
    margin: 0 auto;
}

button.circle-btn {
    border-radius: 223px;
    max-width: 48px;
    padding: 5px 13px;
    display: block;
    margin: 0 auto;
    background-color: #00800099;
}

.table-data td{
    width:33.33%;
}

.table-data span{
    display: block;
    font-weight: 600;
}
table.order  {
    counter-reset: rowNumber;
}

table.order tbody tr {
    counter-increment: rowNumber;
}

table.order tbody tr .row-number::before {
    content: counter(rowNumber);
}
h5.totals {
    text-align: right;
    font-weight: 500;
    color: #1e2449;
}

h5.totals span {

    font-weight: 800;

}

.readonly-input {
    border: none;
    background: none;
    text-align: right;
    font-weight: 800;
    cursor: default;
}

.readonly-input:focus-visible {

    outline: none;
    cursor: default;
}

span.select2.select2-container.select2-container--default.select2-container--focus {
    height: 100%;
}

span.select2-selection.select2-selection--single.select2-selection--clearable {
    height: 38px;

}
tr.form-repair td:first-child {
    width: 40%;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    /* height: 26px; */
    top: -26px;
    left: 155px;
    /* position: absolute; */
    background: #d137339c;
    border-radius: 84px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    color: white;
}

.container.order-container {
    max-width: 100%;
    padding: 0 15px;
}

table thead tr th{
    text-align:cente;
}

tr {
    vertical-align: middle;
}
li.list-group-item {
    background: none;
}

span.select2-selection.select2-selection--single {
    height: 38px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
/* color: #dc3545; */
/* line-height: 28px; */
    padding: 4px 10px;
    margin: 0;
}

span.select2-selection__arrow {
    padding: 0;
    margin: 4px;
}

td > i.fa-solid {
    color: #1213144f;
    padding: 10px 5px;
}

p.info-text {
    display: block;
    text-align: right;
    margin-right: 150px;
    color: #777474;
}

.info-text span {
    font-weight: 700;
}

.pagination {
    padding: 20px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.page-arrows{
    color: #dc3545;
    font-weight: 900;
    font-size: 24px;
    text-decoration: none;
    padding: 20px;

}

.client-data p {
    color: #1d244a;
}

.client-data span {
    font-weight: 600;
}

i.fa.fa-arrow-circle-down {
    font-size: 31px;
    color: #48B8D0;
}

a.print {
    display: block;
    text-align: center;
    padding: 10px 40px;
    background-color: #48B8D0;
    width: 200px;
    height: 47px;
    border-radius: 5px;
    color:#fff;
}

.btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:1800px){
    .order {
        max-width: 100%;
        padding: 20px 40px;
    }

    .col-lg-6.elements-add-repair {
        background-color: #e9e9e9;
        padding: 15px 10px;
        border-radius: 15px;
    }
    .choose-data label {
        font-size: 14px;
    }
}


@media(max-width:1536px){

    form.logout{
        margin-right: 60px;

    }
}

@media(max-width:1366px){



    .row.row-view {
        display: flex;
        gap: 20px;
        flex-wrap: nowrap;
        flex-direction: column;

    }
    .col-lg-6.elements-add-repair {
        background-color: #e9e9e9;
        padding: 15px 10px;
        border-radius: 15px;
        width: 100%;
    }

    .app-select-form {
        display: flex;
        flex-direction: row;
    }

}


@media(max-width:600px){
    .row.row-view {
        flex-wrap: wrap;
    }

    .app-select-form {
        display: flex;
        flex-direction: column;
    }

    .choose-data {
        width: 100%;
    }
    .table-data td {
        width: 33.33%;
        font-size: 12px;
    }
    .order {

        font-size: 12px;
    }

    .btn-group {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

}