@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

img.logo {
    display: block;
    margin: 0 auto;
    filter: invert(1);
    border-bottom: 1px solid;
    padding: 10px 25px;
    max-height: 62px;
}
button#sidebarCollapse {
    background: none;
    color: #212529;
    border-color: transparent;
    font-size: 26px;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}



.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.dashboard-menu{
    background: #d42d2f;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    transition: all 0.3s;
    height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #d42d2f;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #d42d2f;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    font-family: Akrobat;
    font-size: 1.54em;
    display: block;


}

#sidebar ul.components li {

    border-bottom: 1px solid #ffffff61;
    padding: 10px 0 ;

}
#sidebar ul.collapse li {

    border-bottom: none;
    padding: 10px 0;

}


#sidebar ul li a:hover {
    color: #ddd;


}

#sidebar ul li.active>a{
    color: #fff;
    background: rgb(0 0 0 / 29%);

}

a[data-toggle="collapse"] {
    position: relative;
}
#sidebar ul li.active > ul.collapse {
    display: block;
}

.dropdown-toggle::after{
    display:none;
}

.dropdown-toggle i:first-child, .dashboard-first-icon{
    width: 36px;
    height: 40px;
    margin-right: 10px;
    margin-left: 5px;
    text-align: right;
}
.dropdown-toggle i:last-child {
    font-size: 21px;
    width: 29px;
    height: 29px;
    position: absolute;
    right: 12px;
    top: 10px;
}


ul ul a {
    font-size: 20px !important;
    padding-left: 30px !important;

}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #d42d2f;
}

a.article,
a.article:hover {
    background: #d42d2f !important;
    color: #fff !important;
}


#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
@media (max-width: 1536px) {

    #sidebar {
        min-width: 210px;
        max-width: 250px;
        color: #fff;
        transition: all 0.3s;
        height: 100vh;
        font-size: 13px;
    }

    .dropdown-toggle i:last-child {
        font-size: 17px;
        width: 25px;
        position: absolute;
        right: 13px;
        top: 10px;
    }
}

@media (max-width: 1024px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: revert-layer;
    text-align: left;
    flex-direction: row-reverse;
}