.navbar {
    background-color:#D71F2B
}

ul.navbar{
    list-style: none;
    padding: 10px;
    display: flex;
    gap: 20px;
    color: white;
    font-weight: 600;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a.nav-link:hover {
    color: #ffffffc9;
    transition: 0.5s;
}

.login-container {
    max-width: 450px;
    display: block;
    margin: 0 auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(251 37 20 / 9%) !important;
}


.login-form button{
    min-width: 160px;
    margin: 0 auto;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background: #D71F2B;
    color: #fff;
    font-weight: 500;
}

.error-message {
    font-size: 12px;
    color: red;
    margin-bottom: 5px;
}

.error-message:before {
    content: '*';

}

.success {
    color: white;
    background: #8fbd8f;
    max-width: 650px;
    padding: 15px;
    margin: 20px 0;
    border-radius: 4px;
}
.group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 15px 0 0 0;
}

select#role {
    padding: 9px 12px;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
}

.user-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
}
thead.thead-light td {

    font-weight: 700;
}
.user {
    border-right: 1px solid #cccc;
    padding: 10px;
    /* margin: 0 auto; */
}

button {
    padding: 5px 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: white;
    background-color: #d42d2f;
    margin-top: 20px;
}

.add-user-btn {
    display: block;
    text-align: right;
    padding: 20px 0;
}

.add-user-btn a {
    color: white;
    background: #d42d2f;
    padding: 11px 15px;
    text-decoration: none;
    border-radius: 10px;
}
.add-user-btn a:hover {
    background-color: #dc3545bd;
    transition: 0.5s;
}

button.user-btn {
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin:0;
    color: white;
}

.user-edit-btn{
    background-color: #2274A5;
}

.user-edit-btn:hover {
    background-color: #2274a5c7;
    transition: 0.5s;
}

.user-delete-btn{
    background-color: #dc3545;
}

.user-delete-btn:hover {
    background-color: #dc3545bd;
    transition: 0.5s;
}
        /* home */

.home-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
    align-items: center;
}

.home-login a {
    color: #fff;
    padding: 10px 37px;
    background-color: #d42d2f;
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition:0.2s;
}
.home-login a:hover {
  opacity:0.9;
}


.home-logged {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.home-logged a {
    color: #fff;
    padding: 40px 50px;
    background-color: #353a47;
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: 0.2s;
}
.home-logged a:hover {
    opacity:0.9;
}

        /* Dropdown for makes and models*/

ul.dropdown-menu {
    display: block;
    overflow-y: scroll;
    max-height: 300px;
    /* min-width: 200px; */
    width: 636px;
    z-index:1000;
    margin-top: -4px;
    border-radius: 0;
    border: 1px solid #e7e7e7;

}

.dropdown-menu li {
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}

.dropdown-menu li:hover {

    background-color: #e7e7e7;
}


/* edit car */
.car-make-model {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 0;
    align-items: center;
}
span.change-span {
    background: #d42d2f;
    padding: 5px 8px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

span.span-info {
    font-weight: 600;
    color: #d42d2f;
    border-bottom: 1px solid;
    padding: 0 5px;

}

/* clients */

h2.subheading {
    background: #E8E9ED;
    padding: 10px 5px;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 15px;
}

label.header-label {
    font-weight: 800;
    color: #d42d2f;
    padding: 20px 0;
}

select#car {
    min-width: 70px;
    padding: 0 20px;
    height: 40px;
}

.form-check-input:checked {
    background-color: #d13733 ;
    border-color: #d13733 ;
}
.form-check-input:focus {
    border-color: #d42d2f80;
    box-shadow: 0 0 0 .25rem #d42d2f2b;
}

.form-switch .form-check-input:focus {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}


/* error pages */

.error-status h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}
.error-status {
    padding: 20px 40px;
}

.error-status img {
    max-width: 500px;
    margin: 0 auto;
    display: block;
}

.error-status p {
    text-align: center;
}

.error-message {
    font-size: 12px;

}