<div class="container align-content-center home"
	 xmlns:th="http://www.w3.org/1999/xhtml">
	<h1>Добави автомобил</h1>


	<div class="row row-view">
		<div class="col-lg-6 elements">
			<div class="car-form">

			</div>

			<div th:fragment="form-car" xmlns:th="http://www.w3.org/1999/xhtml">

				<div th:if="${message}" th:text="${message}" style="white-space: pre-line;"
					 th:class="'alert ' + (${status} == 'success' ? 'alert-success' : 'alert-danger')"></div>
				<form th:method="POST"
					  th:action="@{/car/add}"
					  th:object="${addCarDto}">
					<div class="form-group">
						<div class="row">

						</div>
						<label for="registrationNumber">Регистрационен номер</label>
						<input class="form-control" th:field="*{registrationNumber}" type="text" id="registrationNumber"
							   name="registrationNumber">
						<div class="error-message" th:if="${#fields.hasErrors('registrationNumber')}">
							<span th:text="${#fields.errors('registrationNumber').get(0)}"></span>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div id="app">
								<div class="form-group">
									<label for="make">Марка</label>


									<input id="make" type="text" v-model="searchMake"
										   @input="searchMakes"
										   @click="onMakeFocus"
										   @blur="handleMakeBlur" class="form-control"
										   placeholder="Започнете да пишете марката...">
									<input th:field="*{make}" id="hiddenMake" type="hidden">

									<ul v-if="filteredMakes.length > 0 && searchMake && !dropdownMakeInitialized "
										class="dropdown-menu">
										<li v-for="make in filteredMakes" :key="make.id"
											@mousedown.prevent="selectMake(make)">
											{{ make.name }}
										</li>
									</ul>
								</div>

								<div class="error-message" th:if="${#fields.hasErrors('make')}">
									<span th:text="${#fields.errors('make').get(0)}"></span>
								</div>

								<div class="form-group">
									<label for="model">Модел</label>


									<input id="model" type="text" v-model="searchModel"
										   @click="onModelFocus" @blur="handleModelBlur" @input="searchModels"
										   class="form-control"
										   placeholder="Започнете да пишете за модела...">
									<input th:field="*{model}" id="hiddenModel" type="hidden">
									<ul v-if="filteredModels.length > 0" class="dropdown-menu" id="model-list">
										<li v-for="model in filteredModels" :key="model.id"
											@mousedown.prevent="selectModel(model)">
											{{ model.name }}
										</li>
									</ul>


									<div class="error-message" th:if="${#fields.hasErrors('model')}">
										<span th:text="${#fields.errors('model').get(0)}"></span>
									</div>
								</div>

							</div>

						</div>

					</div>


					<div class="form-group">
						<label for="year">Година на производство</label>
						<input class="form-control" type="text" th:field="*{year}" id="year" name="year">
						<div class="error-message" th:if="${#fields.hasErrors('year')}">
							<span th:text="${#fields.errors('year').get(0)}"></span>
						</div>
					</div>


					<div class="form-group">
						<label for="cube">Куб.</label>
						<input class="form-control" type="text" th:field="*{cube}" id="cube" name="cube">
						<div class="error-message" th:if="${#fields.hasErrors('cube')}">
							<span th:text="${#fields.errors('cube').get(0)}"></span>
						</div>
					</div>

					<div class="form-group">
						<label for="kw">Kw</label>
						<input class="form-control" th:field="*{kw}" type="text" id="kw" name="kw">
						<div class="error-message" th:if="${#fields.hasErrors('kw')}">
							<span th:text="${#fields.errors('kw').get(0)}"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="hp">к.с</label>
						<input class="form-control" th:field="*{hp}" type="text" id="hp" name="hp">
						<div class="error-message" th:if="${#fields.hasErrors('hp')}">
							<span th:text="${#fields.errors('hp').get(0)}"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="vin">Шаси</label>
						<input class="form-control" th:field="*{vin}" type="text" id="vin" name="vin">
						<div class="error-message" th:if="${#fields.hasErrors('vin')}">
							<span th:text="${#fields.errors('vin').get(0)}"></span>
						</div>
					</div>
					<div class="form-group gray-background">
						<label for="clientId">Клиент</label><br/>
						<select th:field="*{clientId}" class="d-none form-select select2" id="clientId" name="clientId"
								onblur="selectSearch()">
							<option value="">Избери</option>
							<option th:if="${clients.empty}" disabled th:value="null">Няма налични клиенти</option>
							<option th:each="client : ${clients}"
									th:text="${client.firstName} + ' - ' + ${client.phone} "
									th:value="${client.id}"></option>
						</select>

					</div>

					<button class="submit" type="submit">Запиши</button>

				</form>
			</div>

		</div>


	</div>
</div>
