<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
	<h1>Списък с коли</h1>
	<div th:if="${message}" th:class="'alert ' + (${status} == 'success' ? 'alert-success' : 'alert-danger')">
		<span th:text="${message}" style="white-space: pre-line;"></span>
	</div>
	<div class="add-user-btn">
		<a th:href="@{/car/add}">Добави кола</a>
	</div>
	<div class="table-responsive">
	<table class="table table-striped table-hover" th:object="${cars}">
		<thead class="thead-light">
		<tr>

			<td>Рег. №</td>
			<td>Марка</td>
			<td>Модел</td>
			<td>Шаси</td>
			<td>Редакция</td>
			<td>Изтриване</td>
		</tr>
		</thead>
		<tbody>
		<tr th:each="car : ${cars}">

			<td th:text="${car.registrationNumber}">Регистрационен номер</td>
			<td th:text="${car.make}">Марка</td>
			<td th:text="${car.model}">Модел</td>
			<td th:text="${car.vin}">Шаси</td>
			<td>
				<form th:action="@{/car/edit/{id}(id=${car.id})}" th:method="get">

					<button type="submit" class="user-edit-btn user-btn">

						<i class="fa-solid fa-square-pen"></i>
					</button>
				</form>
			</td>
			<td>
				<form th:action="@{/car/delete/{id}(id=${car.id})}" th:method="post">

					<button type="submit"
							class="user-delete-btn user-btn" th:attr="data-name=${car.registrationNumber}">
						<i class="fa-solid fa-trash-arrow-up"></i>
					</button>
				</form>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</div>
